<% include ../partials/upper %>

<div class='container'>
	
<header class='jumbotron'>
	<div class='container'>
		<h1>The Campgrounds Page</h1>
		<p>The best camp grounds in West Bengal, India</p>
		<p>
			<a class='btn btn-primary btn-lg' href='/campgrounds/new'>Add a New Campground</a>
		</p>
	</div>
</header>
	
	<div class='row text-center' style='display: flex; flex-wrap: wrap;'>
		<% campgrounds.forEach(function(c){ %>
		<div class='col-md-3'>
			<div class='thumbnail'>
				<img src='<%= c.image %>'>
				<div class='caption'>
					<h4><%= c.name %></h4>	
				</div>
				<p>
					<a href='/campgrounds/<%= c._id %>' class='btn btn-primary'>More Info:.</a>
				</p>
			</div>
		</div>
		<% }) %>
	</div>

</div>
	
<% include ../partials/lower %> 